/* VARIABLES NOS A PERMITIR ESTANDARIZAR LOS COLORES Y LOS TAMAÑOS */
$color-primary: rgb(69, 154, 239);
$color-secondary: orange;
$color-accent: rgb(222, 14, 49);

$font-size: 16px;
$font-title: 32px;