@import "variables";

*{
    margin: 0px;
    padding: 0px;
}

.nav__color {
    background-color: $color-primary;
}

.carousel__alto {
    height: 500px;
}

.color__letra {
    color: black;
}

.background {
    background-color: aquamarine;
}

.background__dos {
    background-color: rgb(153, 127, 255);
}

.text {
    font-size: 60px;
}

/* EJEMPLO DE MEDIAQUERIA USANDO FLEXBOX */
header {
    background-color: $color-primary;
    .header{
        &__icon{
            width: 50px;
            height: 50px;
        }
        &__nav{
            display: flex;
        }
        &__lista{
            display: flex;
        }
    }
}

ul {
    list-style: none;
    color: white;
    li {
        padding: 10px;
        &::before {
            content: " ";
            display: block;
            width: 10px;
            height: 10px;
            border-bottom: 2px solid $color-secondary;
        }
        &:hover::before {
            content: " ";
            display: block;
            width: 100%;
            height: 10px;
            border-bottom: 2px solid $color-secondary;
            transition: all 2s;
        }
    }
}



a:hover {
    font-size: $font-size;
    color: lime;
}

/* div:not(.padre) {
    background-color: blueviolet;
    margin-bottom: 15px;
    padding: 15px;
    color: white;
} */

section div:nth-child(2) {
    background-color: rgb(222, 159, 236);
}

div::first-letter {
    font-size: 40px;
    color: brown;
}

.first-line::first-line {
    background-color: aquamarine;
}

/* BREAKPOINT DE BOOSTRAP */
/* MEDIA PARA CELULAR */
@media (min-width: 320px) and (max-width:576px) {
    .header{
        &__nav {
            flex-direction: column;
        }
        &__lista {
            flex-direction: column;
        }
    }
    
}

/* PARA TABLET */
@media (min-width: 577px) and (max-width:991px) {
    .header__lista{
        flex-wrap: wrap;
    }
}

